<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Review python iteration, control flows, and functions

_Author: Kiefer Katovich (SF) and Dave Yerrington (SF)_

---




### Learning Objectives
 
- Explore `Python` control flow and conditional programming.  
- Implement `For` and `While` loops to iterate through data structures.
- Apply `if, else` conditional statements.
- Create functions to perform repetitive actions.
- Demonstrate error-handling using `try, except` statements.
- Combine control flow and conditional statements to solve the classic "FizzBuzz" code challenge.
- Use `Python` control flow and functions to help us parse, clean, edit and analyze the Coffee Preferences dataset.

---
### Lesson Guide

- [If Else Statement](#if_else_statements)
- [Iterating With For Loops](#for_loops)
- [FizzBuzz](#fizz_buzz)
- [Functions](#functions)
- [While Loops](#while_loops)
- [Practice control flow on Coffee Preference dataset](#coffee_preference)

In [1]:
example_dict ={"A":1, "B":2}
example_dict

{'A': 1, 'B': 2}

In [2]:
import numpy as np
2+2
print "Hello"

Hello

<a id='if_else_statements'></a>

# If, Else Statements

---

### 1. Write an if-else statement to check whether the suitcase is over 50lb.

Print a message indicating whether or not the suitcase is over 50lbs.

In [5]:
weight =input("how many pounds")
if weight > 120:
    print "overweight"
elif weight <120:
    print "good job"
else: 
    print "try hadrder"

how many pounds120
try hadrder

In [ ]:
weight = float(input("How many pounds does your suitcase weigh? "))

In [ ]:
# A:
weight = float(input("How many pounds does your suitcase weigh? "))
if weight > 50:
    print "weight is greater than 50"
else:
    print "weight is not greater than 50"

In [ ]:
weights = float(raw_input("Enter your suitcase weights"))
if weights >= 50:
    print "You are over"    
else: 
        print "You are ok"

In [ ]:
whos

---

### 2. Write an if-else statement for multiple conditions.

Print out these recommendations based on the weather conditions:

1. The temperature is higher than 60 degrees and it is raining: Bring an umbrella.
2. The temperature is lower than or equal to 60 degrees and it is raining: Bring an umbrella and a jacket.
3. The temperature is higher than 60 degrees and the sun is shining: Wear a T-shirt.
4. The temperature is lower than or equal to 60 degrees and the sun is shining: Bring a jacket.

In [ ]:
Temperature = float(input("Enter Temperature"))
Weather = raw_input ("What is the weather today?")

if Temperature > 60 and Weather =="raining":
    print "Bring an umbrella"
elif Temperature > 60 and Weather =="sunshine":
      print "Wear a T-shirt"
elif  Temperature < 60 and Weather =="raining":
      print "Bring an umbrella and a jacket"
elif  Temperature < 60 and Weather =="sunshine":
      print " Bring a jacket"
else: 
    print "wear whatever"

In [ ]:
temperature = float(input('What is the temperature? '))
weather = raw_input('What is the weather? (rain o
                    r shine) ')

In [ ]:
temperature = float(input('What is the temperature? '))
weather = raw_input('What is the weather? (rain or shine) ')

if temperature > 60 and weather == "rain":
    print "Bring an umbrella"
elif temperature <= 60 and weather == "rain":
    print "Bring an umbrella and Jacket"
elif temperature > 60 and weather == "shine":
    print "Wear a T-shirt"
elif temperature <= 60 and weather == "shine":
    print "Bring a jacket"
else:
    print "wear whatever you like"

---
<a id='for_loops'></a>
# For Loops

---
### 3. Write a `for`-loop that iterates from the number 1 to the number 15.

On each iteration, print out the number.

In [6]:
# A:
for x in range(1, 16):
    print x

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [7]:
for x in range(16): 
    print x+100

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115

In [9]:
for i in range(0,5): 
    print i 
    
    "Iterate on i from value 0 to 4"

1
2
3
4
5

---

### 4. Iterate from 1 to 15, printing whether the number is odd or even.

Hint: The modulus operator, `%`, can be used to take the remainder. For example:

```python
9 % 5 == 4
```

Or in other words, the remainder of dividing 9 by 5 is 4.

In [24]:
for i in range(0, 16):
    if i % 2 == 0:
        print  str(i) + " even"
    else: 
        print  str(i) + " odd"

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

In [21]:
# A:
for i in range(1, 16):
    if i%2:
        print str(i) + " Odd"
    else: 
        print str(i) + " even"

1 Odd
2 even
3 Odd
4 even
5 Odd
6 even
7 Odd
8 even
9 Odd
10 even
11 Odd
12 even
13 Odd
14 even
15 Odd

---
<a id='fizz_buzz'></a>
### 5. Iterate from 1 to 30 with the following instructions:

1. If a number is divisible by 3, print 'fizz'. 
2. If a number is divisible by 5, print 'buzz'. 
3. If a number is both divisible by 3 and 5 print 'fizzbuzz'.
4. Otherwise, print just the number.

In [ ]:
for i in range(1, 31):
    if i%3==0 and i%5==0:
        print  i,"fizzbuzz"
    elif i%3==0:
        print i,"fizz"
    elif i%5==0:
        print i,"buzz"
    else: 
        print i

In [ ]:
# A:
for i in range(1, 30):
    if i%3==0 and i%5==0:
        print str(i) +" fizzbuzz"
    elif i%3==0:
        print str(i) +" fizz"
    elif i%5==0:
        print str(i) +" buzz"
    else: 
        print i

---

### 6. Iterate through the following list of animals, and print each one in all caps.

In [3]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [4]:
# A:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
for i in animals:
    print i

duck
rat
boar
slug
mammoth
gazelle

In [ ]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
example_animal = animals[0]
print example_animal.upper()

---

### 7. Iterate through the animals list. Capitalize the first letter and append the modified animals to a new list.

In [5]:
animals =['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

New_list =[]

for i in animals:
     New_list.append(i.title())
print New_list

['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth', 'Gazelle']

In [6]:
# A:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
#animals.append('lion')

cap_animals = []

for i in animals:
    cap_animals.append(i.title())
    # print i.title()

for i in cap_animals:
    print i

Duck
Rat
Boar
Slug
Mammoth
Gazelle

---

### 8. Iterate through the animals. Print out the animal name and the number of vowels in the name.
Hint: You may need to create a variable of vowels for comparison.

In [7]:
vowels ="aeiou"
for animal in animals:
    vowel_counter =0
    for char in animal:
        if char in vowels:
            vowel_counter = vowel_counter+1
            print animal, vowel_counter

duck 1
rat 1
boar 1
boar 2
slug 1
mammoth 1
mammoth 2
gazelle 1
gazelle 2
gazelle 3

In [8]:
def count_vowels(word_string):
    vowels = "aeiou"
    vowel_count = 0
    
    for char in word_string:
        if char in vowels:
            vowel_count += 1
    
    print vowel_count

aeiouj_vowel_count = count_vowels("prapakarn")

3

In [13]:
# A: This one is not working
   #initialize the count variable

def count_vowel(word):    #define a function for counting the vowels
    vowels = "aeiou" 
    vowel_count = 0 #A string containing all the vowels
    for i in word:    #traverse the string
        if i in vowels:    #check if the the character is contained in the vowel string
            vowel_count += 1    #update th
        print vowel_count 

count = count_vowel("prapakarn")

0
0
1
1
2
2
3
3
3

# ---

### 9. Write a function that takes word as an argument and returns the number of vowels in the word.

Try it out on three words.

In [14]:
def count_vowels(word_string):
    vowels = "aeiou"
    vowel_count = 0
    
    for char in word_string:
        if char in vowels:
            vowel_count += 1
    
    print vowel_count

aeiouj_vowel_count = count_vowels("prapakarn")

3

---

### 10. Write a function to calculate the area of a triangle uaing a height and width.

Test it out.

In [15]:
# A:
def compute_triangle_area(base, height):
    return 0.5*base*height

In [16]:
# A:
def compute_triangle_area(base, height):
    return 0.5*base*height

compute_triangle_area(5,20)

50.0

---
<a id='while_loops'></a>
# While Loops
---

### 11. While loops and strings.

Iterate over the following sentence repeatedly, counting the number of vowels in the sentence until you have tallied one million. Print out the number of iterations it took to reach that amount.

In [17]:
sentence = "A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARDS THE LOCAL SWIMMING POOL SO I GAVE HIM A GLASS OF WATER"

In [18]:
# A: This is not working
sentence = "A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARDS THE LOCAL SWIMMING POOL SO I GAVE HIM A GLASS OF WATER"
vowels = "aeiou"
vowel_count=0
iteration_count=0
while vowel_count < 1000000:
        for char in sentence.lower():
            if char in vowels:
                vowel_count+=1
        iteration_count+=1
print iteration_count

27778

---

### 12. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

In [19]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [20]:
# A:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

converted =[]
for i in corrupted:
        try: 
            converted.append(float(i))
        except:
            pass
        print converted

[]
[23.1]
[23.1]
[23.1]
[23.1, 0.12]
[23.1, 0.12]
[23.1, 0.12, -11.1]
[23.1, 0.12, -11.1]
[23.1, 0.12, -11.1]
[23.1, 0.12, -11.1, 1000.0]

---
<a id='coffee_preference'></a>

# Practice control flow on Coffee Preference dataset

### 13. Load coffee preference data from file and print

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [21]:
with open('datasets/coffee-preferences.csv','r') as f:
    lines = f.readlines()

#### Iterate through lines and print them out

In [22]:
# A:
for line in lines:
    print line

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,

#### Print out just the lines object by typing `lines` in a cell and hitting enter.

In [23]:
# A:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 14. Remove the remaining newline `'\n'` characters with a for-loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**.replace('\n', '')** is a built-in string function that will take the substring you want to replace as its first argument and the string you want to replace it with as its second.

In [41]:
# A:
clean_line =[]

for line in lines:
      clean_line.append(line.replace('\n', ''))

clean_line

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 15. Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

In [33]:
# A:
header = clean_line[0]
data = clean_line[1:len(clean_line)]

print header   
print data

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe
['3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,', '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5', '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1', '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3', '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,', '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3', '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,', '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2', '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4', '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1', '3/17/2015 18:39:23,Alex,4,5,,3,,,,,', '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,', '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3', '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5', '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2', '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,', '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3', '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,', '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3', '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 16. Split the header and the data strings on commas.

To split a string on the comma character, use the built in **`.split(',')`** function. 

Split the header on commas, then print it. You can see that the original string is now a list containing items that were originally separated by commas.

In [34]:
# A:
header = clean_line[0]

header =header.split(',')

print header

['Timestamp', 'Name', 'Starbucks', 'PhilzCoffee', 'BlueBottleCoffee', 'PeetsTea', 'CaffeTrieste', 'GrandCoffee', 'RitualCoffee', 'FourBarrel', 'WorkshopCafe']

---

### 17. Remove the "Timestamp" column.

We aren't interested in the "Timestamp" column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or with slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

In [49]:
# A:
df=lines
df.drop(lines)

AttributeError: 'list' object has no attribute 'drop'

---

### 18. Convert numeric columns to floats and empty fields to `None`.

Iterate through the data, and construct a new data list of lists that contains the numeric ratings converted from strings into floats and the empty fields (which are empty strings '') replaced with the None object.

Use a nested for loop (a for loop within another for loop) to get the job done. You will likely need to use if-else conditional statements as well.

Print out the new data object to make sure you've succeeded.

In [ ]:
# A:

---

### 19. Count the `None` values per person, and put counts in a dictionary.

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [ ]:
# A:

---

### 20. Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [ ]:
# A:

---

### 21. Create a list containing only the people's names.

In [ ]:
# A:

---

### 22. Picking a name at random. What are the odds of choosing the same name three times in a row?

Now we'll use a while-loop to "brute force" the odds of choosing the same name 3 times in a row randomly from the list of names.

Below I've imported the **`random`** package, which has the essential function for this code **`random.choice()`**.
The function takes a list as an argument, and returns one of the elements of that list at random.

In [ ]:
import random
# Choose a random person from the list of people:
# random.choice(people)

Write a function to choose a person from the list randomly three times and check if they are all the same

Define a function that has the following properties:

1. Takes a list (your list of names) as an argument.
2. Selects a name using `random.choice(people)` three separate times.
3. Returns `True` if the name was the same all three times. Otherwise returns `False`.

In [ ]:
# A:

---

### 23. Construct a while loop to run the choosing function until it returns True.

Run the function until you draw the same person three times using a while-loop. Keep track of how many tries it took and print out the number of tries after it runs.

In [ ]:
# A: