<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Practice Grouping Data with Pandas

_Authors: Kiefer Katovich (SF), Dave Yerrington (SF), Mario Carrillo (SF)_

---

You are going to investigate UFO sightings around the US.  This lab will give you practice performing `groupby` operations to split data along multiple dimensions and investigate patterns between subsets of the data using basic aggregation.

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')

%matplotlib inline
%config InlineBackend.figure_format ='retina'

#### 1. Load and print the header for the UFO data.

In [9]:
df = pd.read_csv('./datasets/ufo.csv')
df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [14]:
df.shape

(80543, 5)

In [12]:
# A

df.columns

Index([u'City', u'Colors Reported', u'Shape Reported', u'State', u'Time'], dtype='object')

#### 2. How many null values exist per column?

In [13]:
# A:
df.isnull().sum()

City                  47
Colors Reported    63509
Shape Reported      8402
State                  0
Time                   0
dtype: int64

In [41]:
df.fillna(0)

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,0,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,0,OTHER,NJ,6/30/1930 20:00
2,Holyoke,0,OVAL,CO,2/15/1931 14:00
3,Abilene,0,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,0,LIGHT,NY,4/18/1933 19:00
5,Valley City,0,DISK,ND,9/15/1934 15:30
6,Crater Lake,0,CIRCLE,CA,6/15/1935 0:00
7,Alma,0,DISK,MI,7/15/1936 0:00
8,Eklutna,0,CIGAR,AK,10/15/1936 17:00
9,Hubbard,0,CYLINDER,OR,6/15/1937 0:00
10,Fontana,0,LIGHT,CA,8/15/1937 21:00
11,Waterloo,0,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,0,OVAL,IA,7/7/1939 2:00
14,Ludington,0,DISK,MI,6/1/1941 13:00
15,Forest Home,0,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,0,0,CA,2/25/1942 0:00
17,Hapeville,0,0,GA,6/1/1942 22:30
18,Oneida,0,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,0,DISK,NE,6/1/1943 15:00
21,0,0,0,LA,8/15/1943 0:00
22,0,0,LIGHT,LA,8/15/1943 0:00
23,Owensboro,0,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,0,DISK,WV,1/1/1944 10:00
25,San Diego,0,CIGAR,CA,1/1/1944 12:00
26,Wilderness,0,DISK,WV,1/1/1944 12:00
27,Clovis,0,DISK,NM,4/2/1944 11:00
28,Los Alamos,0,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,0,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
80513,Manahawkin,0,CIRCLE,NJ,9/4/2014 8:30
80514,New Bedford,0,LIGHT,MA,9/4/2014 9:47
80515,Woodbridge,0,TRIANGLE,VA,9/4/2014 16:30
80516,Glendale,0,CYLINDER,CA,9/4/2014 17:38
80517,Laconia,0,CIGAR,NH,9/4/2014 19:02
80518,Langhorne,0,OTHER,PA,9/4/2014 19:30
80519,Glen Ellyn,RED,CIRCLE,IL,9/4/2014 20:20
80520,Waynesburg,0,FLASH,PA,9/4/2014 20:25
80521,Canal Winchester,0,TRIANGLE,OH,9/4/2014 20:30
80522,Lawrence,ORANGE,LIGHT,MA,9/4/2014 20:30
80523,Ellicott City,0,LIGHT,MD,9/4/2014 20:45
80524,Olympia,RED,LIGHT,WA,9/4/2014 21:10
80525,Iowa City,BLUE,LIGHT,IA,9/4/2014 21:11
80526,Marshfield,0,LIGHT,MA,9/4/2014 21:15
80527,Seattle,0,DIAMOND,WA,9/4/2014 21:15
80528,North Royalton,RED,TRIANGLE,OH,9/4/2014 21:30
80529,Deer Park,0,LIGHT,WA,9/4/2014 22:00
80530,Glen St. Mary,0,DISK,FL,9/4/2014 22:00
80531,Abingdon,0,CIRCLE,VA,9/4/2014 22:05
80532,Lawrence,0,LIGHT,MA,9/4/2014 22:15
80533,Melbourne,0,OVAL,IA,9/4/2014 22:15
80534,Burleson,0,LIGHT,TX,9/4/2014 22:30
80535,Elizabethtown,0,CIRCLE,KY,9/4/2014 22:30
80536,Wyoming,RED,DISK,PA,9/4/2014 23:00
80537,Neligh,0,CIRCLE,NE,9/4/2014 23:20
80538,Neligh,0,CIRCLE,NE,9/4/2014 23:20
80539,Uhrichsville,0,LIGHT,OH,9/5/2014 1:14
80540,Tucson,RED BLUE,0,AZ,9/5/2014 2:40
80541,Orland park,RED,LIGHT,IL,9/5/2014 3:43
80542,Loughman,0,LIGHT,FL,9/5/2014 5:30

#### 3. Which city has the most observations?

In [26]:
# A:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80543 entries, 0 to 80542
Data columns (total 5 columns):
City               80496 non-null object
Colors Reported    17034 non-null object
Shape Reported     72141 non-null object
State              80543 non-null object
Time               80543 non-null object
dtypes: object(5)
memory usage: 3.1+ MB

In [42]:
df.groupby("City").size().sort_values(ascending=False).head(10)

City
Seattle          646
New York City    612
Phoenix          533
Las Vegas        442
Portland         438
Los Angeles      416
San Diego        401
Houston          340
Chicago          337
Miami            279
dtype: int64

#### 4. What is the observation count per shape?

In [43]:
# A:
df.groupby("Shape Reported").size().sort_values(ascending=False).head(10)

Shape Reported
LIGHT        16332
TRIANGLE      7816
CIRCLE        7725
FIREBALL      6249
OTHER         5506
SPHERE        5231
DISK          5226
OVAL          3721
FORMATION     2405
CIGAR         1983
dtype: int64

#### 5. Create a subset of the data that is the top 5 cities and the top 5 shapes.

In [47]:
# A:
def top_cities(data):
     top_value=df.groupby("City").size().sort_values(ascending=False).head(10)
        return top_value

IndentationError: unexpected indent (<ipython-input-47-6d45d6c6af41>, line 4)

In [40]:
top_cities(df)

ValueError: cannot index with vector containing NA / NaN values

#### 6. With the subset, find the percent of each shape seen by city.

In [8]:
# A:

**7. Make a grouped bar chart with your subset data showing counts of shapes seen by city.**

In [9]:
# A: