In [1]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [30]:
df = pd.read_csv('test.txt', header=None)

In [31]:
df.head()

                                               0
0                                    Concept: WE
1                    Batch ID: 2018-01-30-170410
2                             Batch Size: 250000
3            Effective Promo Code: _17PROSPECTNM
4  Promotion Start: Tue Jan 30 18:30:00 PST 2018

In [32]:
df.insert(0, column ='index', value = df.index)

In [33]:
df.head()

   index                                              0
0      0                                    Concept: WE
1      1                    Batch ID: 2018-01-30-170410
2      2                             Batch Size: 250000
3      3            Effective Promo Code: _17PROSPECTNM
4      4  Promotion Start: Tue Jan 30 18:30:00 PST 2018

In [23]:
df.to_csv('test.csv', header = None)

In [34]:
df.drop(df.index[[0]])

         index                                                0
1            1                      Batch ID: 2018-01-30-170410
2            2                               Batch Size: 250000
3            3              Effective Promo Code: _17PROSPECTNM
4            4    Promotion Start: Tue Jan 30 18:30:00 PST 2018
5            5  Promotion Expired: Thu Feb 28 03:00:00 PST 2019
...        ...                                              ...
250001  250001                                   S9M3-RHLL-7DXH
250002  250002                                   9NS8-4N63-DGWT
250003  250003                                   QPGJ-K6ZX-69ZQ
250004  250004                                   FSKF-MDK7-PZ4L
250005  250005                                   G9MS-TS7G-WZ3L

[250005 rows x 2 columns]